<section id="header">
  <nav class="navbar navbar-expand-md navbar-light" id="navbar_sticky">
    <div class="container">
      <a class="navbar-brand text-white fw-bold" href="index.html"><i class="fa fa-video-camera coll me-1"></i> BelAmStream</a>

      <div class="col-md-5">
        <div class="top_1m">
          <div class="input-group">
            <input type="text" class="form-control bg-black" placeholder="Search Site...">
            <span class="input-group-btn">

					<button class="btn btn text-white bg_red rounded-0 border-0" type="button">
						 Search</button>
				</span>
          </div>
        </div>
      </div>
      &nbsp;&nbsp;&nbsp;
      <span class="example-spacer"></span>
      <button mat-mini-fab color="warn" class="angular_icon" aria-label="Example icon-button with heart icon">
        <mat-icon>video_call</mat-icon>
      </button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-mini-fab color="warn" class="angular_icon" aria-label="Example icon-button with share icon">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>

  </nav>
</section>
