.footer-area {
  padding: 20px 0px;
  background-color: black;
  color: #fff;
}
.footer-area a {
  text-decoration: none;
}
.footer-area .footer-heading {
  font-size: 24px;
  color: #fff;
}
.footer-area .footer-underline {
  height: 1px;
  width: 70px;
  background-color: #ddd;
  margin: 10px 0px;
}
.copyright-area {
  padding: 10px 0px;
  background-color: #f44336;

}
.copyright-area p {
  margin-bottom: 0px;
  color: white;
}
.copyright-area .social-media {
  text-align: end;
  color: white;
}
.copyright-area .social-media a {
  margin: 0px 10px;
  color: #fff;
  width: 20px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333; /* Choose your desired background color */
  color: white; /* Choose your desired text color */
  /*padding: 20px 0; !* Adjust padding as needed *!*/
  /*text-align: center;*/
}
.social-media a {
  margin: 0 5px; /* Adjust margin as needed */
}
