<hr />
<div>
  <div class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4 class="footer-heading">BelAmStream</h4>
          <div class="footer-underline"></div>
          <p>
            Stay up-to-date with the latest video releases and trends in the
            industry. We provide valuable insights, news articles, and
            interviews with your favorite actors and directors. Dive into the
            world of cinema and immerse yourself in the magic of storytelling.
          </p>
        </div>
        <div class="col-md-4">
          <h4 class="footer-heading">Quick Links</h4>
          <div class="footer-underline"></div>
          <div class="mb-2"><a href="" class="text-white">Home</a></div>
          <div class="mb-2"><a href="" class="text-white">About Us</a></div>
          <div class="mb-2"><a href="" class="text-white">Contact Us</a></div>
          <div class="mb-2"><a href="" class="text-white">Blogs</a></div>
        </div>

        <div class="col-md-4">
          <h4 class="footer-heading">Reach Us</h4>
          <div class="footer-underline"></div>
          <div class="mb-2">
            <p>
              <i class="fa-brands fa-linkedin"></i>
              <a
                href=" https://www.linkedin.com/in/khadija-belmadani-43abb9200?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BiXeQzqwpTd2dgzo2%2FTMwaA%3D%3D"
                class="text-white"
              >
                Khadija Belmadani</a
              >
            </p>
          </div>
          <div class="mb-2">
            <a href="" class="text-white">
              <i class="fa-brands fa-github"></i> Khadija Belmadani
            </a>
          </div>
          <div class="mb-2">
            <a href="" class="text-white">
              <i class="fa fa-phone"></i> +212770335681
            </a>
          </div>
          <div class="mb-2">
            <a href="" class="text-white">
              <i class="fa fa-envelope"></i> kbelmadani906@gmail.com
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p class="">&copy; 2024 - BelAmStream Team - All rights reserved.</p>
        </div>
        <div class="col-md-4">
          <div class="social-media">
            Get Connected:
            <a href=""><i class="fab fa-facebook" style="color: white"></i></a>
            <a href=""><i class="fab fa-twitter" style="color: white"></i></a>
            <a href=""><i class="fab fa-instagram" style="color: white"></i></a>
            <a href=""><i class="fab fa-youtube" style="color: white"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
