<div fxLayout="row">
  <div fxFlex="65%" class="video-detail">
    <app-video-player *ngIf="videoAvailable"  [videoUrl]="videoUrl"></app-video-player>
    <div class="mat-title text-white" >{{videoTitle}}</div>
  <div fxLayout="row">
    <div fxFlex="50%" class="text-white">
      <div>{{viewCount}}</div>
      <div>{{videoDescription}}</div>
    </div>

    <div fxFlex="50%">

    </div>
  </div>
  </div>
  <div fxFlex="5%"></div>
  <div fxFlex="30%" class="text-white">
    Suggestions Bar
  </div>
</div>
