<app-sidebar ></app-sidebar>
<div class="center-container">

    <form color="coll" [formGroup]="conversationFormGroup" (ngSubmit)="getOrcreateConversation()">

      <h3 style="color: white">Create Or Join Room </h3><br><br>
      <mat-form-field>
        <mat-label style="color: #313a3f">Room Name</mat-label>
        <input type="text" matInput placeholder="abcd" formControlName="name">
      </mat-form-field>&nbsp;
      <button mat-raised-button color="warn" type="submit" [disabled]="!conversationFormGroup.valid" title="Get Or Create Conversation">Get Or Create Room</button>

    </form>
  </div>

  <div>
    <div id="remote-container">
    </div>
    <div id="local-container">
    </div>
  </div>


