<form class="example-form" [formGroup]="commentsForm">
  <mat-form-field color="warn" class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput [formControlName]="'comment'"
              placeholder="Share your thoughts"></textarea>
  </mat-form-field>
  <div fxLayout="row">
    <div fxFlex="60%"></div>
    <div fxFlex="40%" fxFlexAlign="end">
      <span>
        <button mat-button color="warn" (click)="cancelComment()">CANCEL</button>
      </span>
      <span>
        <button type="submit" (click)="postComment()" mat-button color="warn">COMMENT</button>
      </span>
    </div>
  </div>
</form>
<mat-divider></mat-divider>
<div class="view-comments" *ngFor="let comment of commentDto" >
  <div fxLayout="row">
    <div fxFlex="50%">
      <mat-card-header>
        <div matCardAvatar class="example-header-image"></div>
        <a matCardTitle class="comment-author" routerLink="">{{ comment.author }}</a>
        <p matCardSubtitle>1 Month Ago</p>
      </mat-card-header>
    </div>
    <div fxFlex="50%" class="delete-comment" fxFlexAlign="end">
      <span class="like-dislike-section">
              <button mat-icon-button class="thumbs-up" >
                <mat-icon>arrow_upwards</mat-icon>
<!--                {{comment.likeCount}}-->
              </button>
              <button mat-icon-button class="thumbs-down" >
                <mat-icon>arrow_downward</mat-icon>
<!--                {{comment.dislikeCount}}-->
              </button>
          </span>
    </div>
  </div>
  <div>
    {{comment.text}}
  </div>
</div>
