<!-- category-list.component.html -->
<div class="category-list">
  <div class="category">
    <div class="loader"></div>&nbsp;&nbsp; Games
  </div>&nbsp;&nbsp;&nbsp;
  <div class="category">
    <div class="loaderrrr"></div> Lifestyle
  </div>&nbsp;&nbsp;
  <div class="category">
    <div class="bars">
      <div class="bars__item"></div>
      <div class="bars__item"></div>
      <div class="bars__item"></div>
      <div class="bars__item"></div>&nbsp;&nbsp;
    </div>
    Music
  </div>&nbsp;&nbsp;
  <div class="category ">
    <div class="loaderr"></div>&nbsp;&nbsp; Esport
  </div>&nbsp;&nbsp;
  <div class="category sport">
    &nbsp;&nbsp;<div class="loaderrr"></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Creativity
  </div>&nbsp;&nbsp;


</div>
