<mat-sidenav mode="side" opened >
  <mat-nav-list role="list">
    <mat-list-item role="listitem"  class="itt" routerLink="/featured">
      <mat-icon mat-lis class="coll" >home</mat-icon> &nbsp;&nbsp;
      <span matLine>Home</span>
    </mat-list-item>
    <mat-list-item role="listitem" class="itt" routerLink="/subscriptions">
      <mat-icon class="coll" >subscriptions</mat-icon>&nbsp;&nbsp;
      <span >Subscriptions</span>
    </mat-list-item>
    <mat-list-item role="listitem" class="itt" routerLink="/history">
      <mat-icon class="coll" >history</mat-icon>&nbsp;&nbsp;
      <span matLine>History</span>
    </mat-list-item>
    <mat-list-item role="listitem" class="itt" routerLink="/liked-videos">
      <mat-icon class="coll" >thumb_up</mat-icon>&nbsp;&nbsp;
      <span matLine>Favorite</span>
    </mat-list-item>
    <mat-list-item role="listitem" class="itt" routerLink="/recommendations">
      <mat-icon class="coll" >done_all</mat-icon>&nbsp;&nbsp;
      <span matLine>Recommendations</span>
    </mat-list-item>
  </mat-nav-list>
</mat-sidenav>



